* {
    margin: 0;
    padding: 0;
}
#main {
    position: relative;
}

.pin {
    float: left;
    padding: 15px 0 0 15px;
}
.box {
    border:1px solid #cccccc;
    padding: 10px;
    -webkit-box-shadow: 0 0 5px #cccccc;
    -moz-box-shadow: 0 0 5px #cccccc;
    box-shadow: 0 0 5px #cccccc;
}
.box img {
    width:180px;
    height:auto;
}